* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
	font-family: Helvetica, Arial;
	height: 100%;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

h1, h2, h3, h4, h5{
	font-family: Helvetica, Arial;
	font-weight: normal;
	margin: 0;
}

h2{
	font-size: 18px;
}

ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}

input{
	border: 1px solid #ccc;
	padding: 5px;
	font-size: 14px;
}

label{
	cursor: pointer;
}

.button{
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #ccc;
	background: #F4F4F4;
	text-decoration: none;
	color: #333;
}

.button:hover{
	border: 1px solid #666;
	background: #EEE;
}

#templates{
	display: none;
}

#jobsPrev{
	display: none;
}

.searchLayoutTop #searchWrap{
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px 20px 20px 303px;
	width: 100%;
	height: 80px;
	background: #FFF;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	z-index: 100;
}

.searchLayoutTop #searchWrap form{
	max-width: 1000px;
}

.searchLayoutLeft #searchWrap{
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	width: 280px;
	height: 80px;
	z-index: 100;
}

#searchWrap input, #searchWrap button{
	padding: 10px;
	font-size: 18px;
}

.searchLayoutTop #searchWrap input[type=text]{
	width: 46%;
}

.searchLayoutLeft #searchWrap input[type=text]{
	width: 240px;
}


#filtersWrap{
	position: fixed;
	left: 0;
}

#filtersWrap section{
	padding: 20px;
	border-top: 1px solid #ddd;
}

#filtersWrap section a{
	color: #000;
}

#filtersWrap .collapse{
	display: none;
	padding: 10px;
	position: absolute;
	background: white;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	margin-top: 10px;
}

.searchLayoutTop #filtersWrap{
	top: 70px;
}

.searchLayoutLeft #filtersWrap{
	top: 135px;
}

#filtersWrap .salaryLabel{
	margin: 10px 0 25px 0;
}

.toggleWrap{
	position: relative;
}

.toggleWrap i{
	position: absolute;
	right: 10px;
	top: 0;
}

.toggle a{
	display: block;
}

.toggle .label{
	max-width: 210px;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#salarySlider{
	width: 240px;
}

#salaryGraph{
	position: relative;
	top: 1px;
}


#salaryGraph li{
	position: absolute;
	width: 19%;
	background: rgba(0,0,0,0.035);
	height: 20px;
	bottom: 0;
	-webkit-transition: all 1s;
	height: 0;
}

#salaryGraph .col1{
	left: 0%;
}

#salaryGraph .col2{
	left: 20%;
}

#salaryGraph .col3{
	left: 40%;
}

#salaryGraph .col4{
	left: 60%;
}

#salaryGraph .col5{
	left: 80%;
}

#collapseTypesHours{
	overflow: hidden;
}

#collapseTypesHours ul{
	float: left;
	width: 50%;
	font-size: 16px;
}

#collapseTypesHours ul a{
	display: block;
	padding: 5px 15px;
	border: 1px solid #ddd;
	margin: 0 5px 5px 0;
	color: #999;
}

#collapseTypesHours ul a.selected{
	border: 1px solid #333;
	color: #000;
}

.suggestionsWrap h4{
	color: #999;
	font-size: 11px;
	margin: 0-20px 0 -20px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-align: center;
	padding: 30px 20px 20px 20px;
}

.suggestions{
	font-size: 14px;
}

.suggestions li{
}

.suggestions li a{
	display: block;
	padding: 10px 20px;
	margin: -1px -20px 0 -20px;
	color: #666;
}

.suggestions li a:hover{
	color: #000;
}

#scrollToTop{
	position: absolute;
	bottom: 40px;
	right: 40px;
	font-size: 36px;
}

#scrollToTop a{
	display: block;
	background: #FFF;
	width: 50px;
	height: 50px;
	border: 1px solid #DDD;
	box-shadow: 0 0 6px rgba(0,0,0,0.1);
	color: #666;
	border-radius: 5px;
}

#scrollToTop a i{
	position: absolute;
	top: 18px;
	left: 14px;
}


#resultsWrap{
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#resultsInner{
	background: #FAFAFA;
	overflow-y: scroll;
	height: 100%;
	margin-right: -32px;
	padding: 10px 20px 10px 290px;
}

#resultsInner header{
	margin: 20px 15px;
}

#resultsInner h1{
	margin: 10px 0;
}

#resultsInner header .sort a{
	margin: 0 10px 0 0;
	padding: 7px 15px;
	background: none;
	font-size: 14px;
	border: none;
}

#resultsInner header .sort a.selected{
	background: #EAEAEA;
}

.searchLayoutTop #resultsInner{
	padding-top: 90px;
}

.searchLayoutLeft #resultsInner{
}

#jobViewWrap{
	display: none;
	background: rgba(255,255,255,0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

#jobs{
	padding-bottom: 200px;
}

.job{
	position: relative;
	margin: 8px;
	position: relative;
	padding: 15px 15px;
	display: block;
	border-top: 1px solid #DDD;
}

.job .link{
	color: #00AA33;
}

.jobsLayoutCards .job{
	float: left;
}

.jobsLayoutRows .job{
	margin: 4px 0 4px 0;
}

.jobsLayoutCards .job{
	width: 325px;
	height: 155px;
}

.jobsLayoutRows .job{
	min-height: 100px;
	max-width: 1100px;
}

.excerptsOn.jobsLayoutCards .job{
	height: 245px;
}

.jobsLayoutRows .job{
	width: auto;
}

.job .link:hover{
}

.job h2{
	padding: 5px 0 5px 0;
	display: inline-block;
}

.jobsLayoutRows h2{
}

.job a{
	color: #222;
}

.job .details{
}

.jobsLayoutRows .job .details{
	display: inline-block;
	vertical-align: top;
	padding: 0 5px;
	width: 20%;
	
	position: absolute;
	left: 58%;
	top: 40px;
	font-size: 14px;
	line-height: 20px;
}

.jobsLayoutCards .job .details{
	margin: 0 0 8px 0;
}

.job li{
	margin: 3px 0;
	color: #666;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.job .icons{
	font-size: 14px;
	color: #666;
}

.jobsLayoutCards .job .icons{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.jobsLayoutRows .job .icons{
	font-size: 14px;
	line-height: 22px;
	display: inline-block;
	width: 20%;
	vertical-align: top;
	padding: 0 5px;
	position: absolute;
	left: 79%;
	top: 42px;
}

.jobsLayoutCards .job .icons .applicationsWrap,
.jobsLayoutCards .job .icons .dateWrap{
	float: left;
	width: 50%;
	padding: 15px 0;
}

.job .icons .applications,
.job .icons .date{
	padding: 0 4px;
}

.job .excerpt{
	font-size: 14px;
	color: #666;
}


.jobsLayoutRows .job .excerpt{
	width: 55%;
}


.excerptsOff .excerpt{
	display: none;
}

.job .highlight{
	color: #000;
}

#jobsNext{
	display: block;
	float: left;
	border: 1px solid #DDD;
	margin: 8px;
	vertical-align: top;
	word-break: break-word;
	text-align: center;
}

#jobViewInner{
	position: absolute;
	left: 50%;
	margin-left: -400px;
	width: 800px;
	padding: 50px;
	height: 90%;
	margin-top: 20px;
	background: #fff;
	overflow: hidden;
	border: 1px solid #ccc;
}

#jobViewScroll{
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

#jobViewInner h1{
	margin: 0 0 20px 0;
}

#controlPanelWrap{
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 10000;
}

#controlPanelBtn{
	width: 20px;
	height: 20px;
	font-size: 22px;
}


#controlPanelBtn a, #controlPanelBtn a:visited{
	color: #999;
}

#controlPanelBtn a:hover{
	color: #333;
}

#controlPanel{
	display: none;
	position: absolute;
	top: 32px;
	right: -10px;
	width: 400px;
	padding: 20px;
	background: #FFF;
	border: 1px solid #ccc;
}

#controlPanel:after, #controlPanel:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#controlPanel:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #FFF;
	border-width: 10px;
	right: 10px;
	margin-left: -10px;
}
#controlPanel:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ccc;
	border-width: 11px;
	right: 9px;
	margin-left: -11px;
}

#controlPanel section{
	margin: 10px 0;
	padding: 10px 0;
}

#controlPanel h3{
	margin: 5px 0;
	padding: 5px 0;
}

#controlPanel input[type="radio"]{
	display: none;
}

#controlPanel label{
	position: relative;
	display: inline-block;
	padding: 6px 12px 5px 12px;
	border: 1px solid #ddd;
	margin-right: -5px;
}

#controlPanel label.selected{
	border: 1px solid #333;
	z-index: 100;
}
