* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
	font-family: Helvetica, Arial;
	height: 100%;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

h1, h2, h3, h4, h5{
	font-family: Helvetica, Arial;
	font-weight: normal;
	margin: 0;
}

h2{
	font-size: 18px;
}

ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}

input{
	border: 1px solid #ccc;
	padding: 5px;
	font-size: 14px;
}

label{
	cursor: pointer;
}

.button{
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #ccc;
	background: #F4F4F4;
	text-decoration: none;
	color: #333;
}

.button:hover{
	border: 1px solid #666;
	background: #EEE;
}

#templates{
	display: none;
}

#jobsPrev{
	display: none;
}

.searchLayoutTop #searchWrap{
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	width: 100%;
	height: 80px;
	background: #FFF;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	z-index: 100;
}

.searchLayoutLeft #searchWrap{
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	width: 300px;
	height: 80px;
	background: #FFF;
	z-index: 100;
}

#searchWrap input, #searchWrap button{
	padding: 10px;
	font-size: 18px;
}

.searchLayoutTop #searchWrap input[type=text]{
	width: 400px;
}

.searchLayoutLeft #searchWrap input[type=text]{
	width: 240px;
}


#filtersWrap{
	position: fixed;
	left: 0;
	padding: 20px;
}

.searchLayoutTop #filtersWrap{
	top: 100px;
}

.searchLayoutLeft #filtersWrap{
	top: 200px;
}

#filtersWrap .salaryLabel{
	margin: 20px 0;
}

#salarySlider{
	width: 240px;
}

#resultsWrap{
	overflow: hidden;
	height: 100%;
	padding-left: 300px;
	width: 100%;
}

#resultsInner{
	background: #F4F4F4;
	overflow-y: scroll;
	height: 100%;
	margin-right: -32px;
	padding: 15px;
	width: 105%;
}

.searchLayoutTop #resultsInner{
	padding-top: 100px;
}

.searchLayoutLeft #resultsInner{
}

#jobViewWrap{
	display: none;
	background: rgba(255,255,255,0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

#jobs{
	width: 100%;
}

.job{
	position: relative;
	margin: 8px;
}

.job .link{
	position: relative;
	padding: 15px 15px;
	display: block;
	border: 1px solid #DDD;
	word-break: break-word;
	background: white;
}

.jobsLayoutCards .job{
	float: left;
}

.jobsLayoutRows .job{
	width: 100%;
}

.jobsLayoutCards .job .link{
	width: 290px;
	height: 155px;
}


.jobsLayoutRows .job .link{
	width: 100%;
}

.job .link:hover{
	border: 1px solid #999;
}

.job h2{
	height: 45px;
	margin: 0 0 5px 0;
}

.jobsLayoutRows h2{
	display: inline-block;
	vertical-align: top;
	padding: 0 5px;
	width: 49%;
	max-width: 420px;
}

.job a{
	color: #222;
}

.jobsLayoutRows .job .details{
	display: inline-block;
	vertical-align: top;
	padding: 0 5px;
	width: 29%;
}

.job .details{
}

.job li{
	font-size: 14px;
	margin: 3px 0;
	color: #666;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.job .icons{
	font-size: 14px;
	color: #666;
}

.jobsLayoutCards .job .icons{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.jobsLayoutRows .job .icons{
	display: inline-block;
	width: 20%;
	vertical-align: top;
	padding: 0 5px;
}

.jobsLayoutCards .job .icons .applicationsWrap,
.jobsLayoutCards .job .icons .dateWrap{
	float: left;
	width: 50%;
	padding: 15px 0;
}

.job .icons .applications,
.job .icons .date{
	padding: 0 4px;
}

#jobsNext{
	display: block;
	float: left;
	border: 1px solid #DDD;
	margin: 8px;
	vertical-align: top;
	word-break: break-word;
	text-align: center;
}

#jobViewInner{
	position: absolute;
	left: 50%;
	margin-left: -400px;
	width: 800px;
	padding: 50px;
	height: 90%;
	margin-top: 20px;
	background: #fff;
	overflow: hidden;
	border: 1px solid #ccc;
}

#jobViewScroll{
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

#jobViewInner h1{
	margin: 0 0 20px 0;
}

#controlPanelWrap{
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 10000;
}

#controlPanelBtn{
	width: 20px;
	height: 20px;
	font-size: 22px;
}


#controlPanelBtn a, #controlPanelBtn a:visited{
	color: #999;
}

#controlPanelBtn a:hover{
	color: #333;
}

#controlPanel{
	display: none;
	position: absolute;
	top: 32px;
	right: -10px;
	width: 400px;
	padding: 20px;
	background: #FFF;
	border: 1px solid #ccc;
}

#controlPanel:after, #controlPanel:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#controlPanel:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #FFF;
	border-width: 10px;
	right: 10px;
	margin-left: -10px;
}
#controlPanel:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ccc;
	border-width: 11px;
	right: 9px;
	margin-left: -11px;
}

#controlPanel section{
	margin: 10px 0;
	padding: 10px 0;
}

#controlPanel h3{
	margin: 5px 0;
	padding: 5px 0;
}

#controlPanel input[type="radio"]{
	display: none;
}

#controlPanel label{
	position: relative;
	display: inline-block;
	padding: 6px 12px 5px 12px;
	border: 1px solid #ddd;
	margin-right: -5px;
}

#controlPanel label.selected{
	border: 1px solid #333;
	z-index: 100;
}
